<section class="container container--normall">
    <div class="block intro">
        <h1>
            {{user.user_meta.name}}
        </h1>

        <span>
            Hier vind u alle details over deze specifieke groep.
        </span>
    </div>

    <div class="row block block--settings block--bottom">
        <img class="user-icon-big" src="/assets/images/user-big.png" alt="User icon">

        <div class="detail-forms">
            <form class="block full-form" action="/gebruikers/{{user.id}}">
                <fieldset class="text text--intro-size">
                    <div class="form-item">
                        <label for="name">
                            Naam
                        </label>

                        <input name="name" type="text" value="{{user.user_meta.name}}">
                    </div>

                    <div class="form-item">
                        <label for="email">
                            Email
                        </label>

                        <input name="email" type="text" value="{{user.email}}">
                    </div>

                    <div class="form-item">
                        <label for="phone">
                            Telefoon / GSM
                        </label>

                        <input name="phone" type="text" value="&#43;{{user.user_meta.phone}}">
                    </div>

                    <div class="form-item"></div>
                </fieldset>

                <button class="btn btn--secondary" type="submit" formmethod="post">
                    Bewerken
                </button>
            </form>

            <form class="logout" action="/logout" method="post">
                <button type="submit" class="btn btn--tertiairy">
                    Uitloggen
                </button>
            </form>
        </div>
    </div>
</section>