<h1 class="sr-only">
    Beschikbaar materiaal
</h1>

<div class="container container--normall">
    <section class="block intro">
        <h2>
            Beschikbaar
        </h2>

        <p>
            Bent u niet zeker of wij een bepaald element ter beschikking hebben? Dan bent u hier aan het juiste adres. Hier kunt u zien welke elementen wij ter beschikking hebben en hoeveel er van elk zijn.
        </p>
    </section>
</div>

<section>
    <div class="container container--normall block block--collections">
        <ul class="block--collections__list">
            {{#each collection}}
                <li data-scroll="smooth-scroll" class="btn btn--primary">
                    <a href="#{{this.label}}">
                        {{this.label}}
                    </a>
                </li>
            {{/each}}
        </ul>

        <a href="/plan-opstellen" class="btn btn--tertiairy">
            Plan opstellen
        </a>
    </div>

    <div class="block block--bottom block--inventory">
        {{#each collection}}
            <div class="container container--normall block">
                <h3 id="{{this.label}}" class="collection__titles text text--big">
                    {{this.label}}
                </h3>
            </div>

            <ul class="container container--wide inventory-list block">
                {{#each this.inventory}}
                    <li class="inventory-list__card">
                        <div class="card__img" style="background:{{this.color}}"></div>

                        <div class="card__text">
                            <strong class="card__title">
                                {{this.label}}
                            </strong>
                            
                            <span class="card__description">
                                Momenteel zijn er {{this.quantity}} beschikbaar!
                            </span>
                        </div>
                    </li>
                {{/each}}
            </ul>
        {{/each}}
    </div>
</section>

<section class="block block--lightblue">
    <div class="container container--normall">
        <div class="block--lightblue__content">
            <h2>
                Vraag aan
            </h2>

            <p>
                Ziet u een bepaald instrument niet staan of zijn er niet genoeg van een specifiek element? <span class="active span--inline">Aarzel dan niet om ons te contacteren!</span> Wij kunnen u misschien helpen met uw probleem.
            </p>

            <a href="/vraag-aan" class="btn btn--tertiairy">
                Ga naar aanvragen
            </a>
        </div>

        <svg class="circle-shape" xmlns="http://www.w3.org/2000/svg" width="599" height="599" fill="none"><circle cx="299.5" cy="299.5" r="298.5" stroke="var(--secondary)" stroke-width="2"/></svg>
    </div>
</section>