<div class="plan-backgroundcolor">
  <script src="https://pixijs.download/release/pixi.js"></script>
  <div class="plan">
    <div class="plan-left">
      <h1>
        Inventaris
      </h1>

      <input type="Zoeken" placeholder="Zoeken" />

      <div class="inventaris">
        {{#each collection}}
        <div>
          <h2>
            {{this.label}}
          </h2>

          <ul class="block block--plan" data-list-elements="elements">
            {{#each this.inventory}}
            <li class="plan-card" data-width="{{this.width}}" data-height="{{this.height}}">
              <div class="plan-card__left">
                <div class="card__plan__img">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 50 50"
                    viewBox="0 0 50 50">
                    <path d="M0 0h50v50H0z" style="fill:{{this.color}}" stroke="var(--secondary)" stroke-width="3" />

                    <path d="M37.09 24.34 25 7.25 12.91 24.34h8.37v18.41h7.44V24.34z" style="fill:#231f20" />
                  </svg>
                </div>
                <span>
                  {{this.quantity}}
                </span>
              </div>

              <div class="plan__card__text">
                <strong class="card__plan__title">
                  {{this.label}}
                </strong>

                <span class="plan">
                  {{this.height}} m - {{this.width}} m
                </span>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="plan-right">
      <div class="plan-header">
        <a href="/beschikbaar-materiaal">
          <svg width="43" height="43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#a)">
              <path d="M11.5 21.866a1 1 0 0 1 0-1.732L28 10.608a1 1 0 0 1 1.5.866v19.052a1 1 0 0 1-1.5.866l-16.5-9.526Z"
                fill="hsl(33, 41%, 57%)" />
            </g>
            <defs>
              <clipPath id="a">
                <path fill="#fff" transform="rotate(45 11.314 27.314)" d="M0 0h28v32H0z" />
              </clipPath>
            </defs>
          </svg> Terug naar materialen
        </a>

        <form class="plan-header-input" action="/plannen">
          <input type="hidden" name="user_id" value="{{user.id}}">

          <input type="hidden" name="creation_date" value="{{getDate}}">

          <div class="form-name-plan">
            <input name="label" type="text" placeholder="Naam plan" />
          </div>

          <div class="form-date">
            <input name="concert_date" type="date" name="datum" id="datum" />
          </div>

          <button class="btn btn--tertiairy" type="submit" formmethod="post">
            Versturen
          </button>
        </form>
      </div>

      <div class="plan-work">
        <div class="plan-work-flex">
          <button class="plan-refresh" onclick="location.reload();">
            Resetten
          </button>

          <div id="canvas" class="canvas"></div>
        </div>

        <button class="plan-button1">
          Delen met...
        </button>

        <button class="plan-button1" data-pdf="pdf">
          Afdrukken als PDF
        </button>
      </div>
    </div>
  </div>
</div>